.foreman.section
  .header
    %h1= title
  .body
    - foremen.each do |foreman|
      .foreman_drop_zone{:id => dom_id(foreman, 'foreman')}
        %h2= foreman.name_and_level
        - (@roofers[foreman.id] || []).each do |roofer|
          = render :partial => 'roofer', :locals => {:roofer => roofer}
      - if current_user.has_permission?("modify_teams")
        = drop_receiving_element dom_id(foreman, 'foreman'), :url => hash_for_move_teams_path("team_leader_id" => foreman.id), :hoverclass => 'hover'

