.page_header
  %h1 Édition du gabarit

.innercol
  = error_messages @work_sheet_template

  - form_for(:work_sheet_template, :url => object_url, :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f }
