.page_header
  %h1 Nouveau gabarit

.innercol

  = error_messages_for :work_sheet_template

  - form_for(:work_sheet_template, :url => collection_url) do |f|
    = render :partial => "form", :locals => { :f => f }

