<%= party_page_header @party %>

<div class='innercol'>
  <h1>Historique</h1>
  <%= render :partial => '/activities/filter_form' %>
  <table class='standard'>
    <%= render :partial => '/parties/activities_list', :locals => {:activities => @history } %>
  </table>

  <%= render :partial => '/audits/list', :locals => {:audits => @party.all_audits} %>
</div>