= button "Ajouter une note", "#", :type=>:create, :icon=>"/images/design/104-index-cards.png", :size=>:big, :html=>{:id=>"note_new_button", :data_type=>"note"}
#note_form_wrapper.form_wrapper{:style=>"display: none"}
  .body
    -  @note = party.notes.build(:user => current_user)
    - remote_ui_form_for(@note, :html => {:id => 'new_note_form'} ) do |f|
      - group "Ajouter une note" do
        = render :partial => "/notes/form", :locals => {:f => f} 
        = button "Ajouter"
        %span
          ou
          = link_to "annuler", "#note", :class=>"cancel"