= f.hidden_field :party_id
= f.hidden_field :project_id
= f.text_area :body, :rows => 2, :label=>"Note:"
= f.select :activity_category_id, select_options_from_table(ActivityCategory, {:all_label => "aucune"}), :label=>"Catégorie:"