<div class='page_header'>
  <h1>
    <span><%= link_to 'Modifier', edit_contract_path(@contract), :class => 'action' %></span>
    <%= @contract.name %>
  </h1>
</div>
<div class='page_menu'>
  <%= tabnav :contract %>
</div>