<!-- <h1>New task</h1>

<%= error_messages_for :task %>

<% form_for(:task, :url => tasks_path) do |f| %>
  <p>
    <%= render :partial => "form", :locals => {:f => f} %>
    <%= submit_tag _("Ajouter") %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %> -->