<div class='page_header'>
  <h1>Édition équipement</h1>
</div>

<div class='innercol'>
  <%= error_messages_for :equipment %>
  <% form_for(@equipment) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= form_submit %>
  <% end %>  
</div>

<% content_for :sidebar do %>
  <div class='new'>
    <%= link_to _("Supprimer"), object_url(@equipment), :confirm => 'Êtes-vous sûrs?', :method => :delete, :class => "delete" %>
  </div>
<% end %>