<div class='page_header'>
  <h1>Nouvel équipement</h1>
</div>

<div class='innercol'>
  <%= error_messages_for :equipment %>
  <% form_for(:equipment, :url => equipments_url) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= form_submit %>
  <% end %>
</div>

