<h2>Generalities</h2>

<h3>Backend Bindings</h3>
<h4>Ruby</h4>

<h3>Client Bindings</h3>
<h4>Prototype</h4> 

<h2>Backend API</h2>


<h3>Authentication</h3>



<h3>Queues</h3>



<h3>Messages</h3>



<h2>Client API</h2>


<h3>Authentication</h3>


