<h2>Bolide is realtime</h2>
<p>
Bolide is a hosted service built to provide realtime updates to your users and web applications. In other words, you inform Bolide of any changes you want to display in realtime on your web applications and it delivers them to the appropriate client. No awkward server configuration or resource consuming polling required. 
</p>
<p>
The biggest problem in realtime application is that the clients may not be connected when you need to send a realtime message, thus requiring a queueing system. Bolide provide that queueing system and tops it with a delivery mechanism. It is thus a one way delivery system. It does not handle client to server communication, as this is the trivial part (your server should always be accessible right?).
</p>
<h2>Open for all</h2>
<p>
Bolide is not restricted to web applications. It can deliver any kind of messages to any type of client or device. For example, you build an iPhone application and you want it to receive live update for sporting events. You can use Bolide to feed your iPhone, Android, web, desktop application with last second information.
</p>	

<h2>Free of doing other stuff</h2>
<p>
Once the complexity of distributing and delivering realtime machine is reduced to a simple API call, you have more time left to hack away your next great application. You can imagine nice realtime features like multi-user presence, collaborative editing, live updates, etc.
</p>