<div class="page_header">
  <h1><%= _("Édition de l'utilisateur") %></h1>
  <h2 class="info"><%= _("Remplir les informations suivantes afin de créer un nouvel utilisateur dans le système.") %></h2>
</div>
<!-- start >> form user-->

<div class='innercol'>
  <div class="table_container">
  <%= error_messages @user %>
  <% form_for @user do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
  </div>
</div>