<h1>Editing file_attachment</h1>

<%= error_messages_for :file_attachment %>

<% form_for(@file_attachment) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @file_attachment %> |
<%= link_to 'Back', file_attachments_path %>
