<div class='page_header'>
  <h1><%= _("Nouveau contact") %></h1>
</div>

<div class='innercol'>
  
  <%= error_messages @contact %>

  <% form_for(:contact, :url => contacts_path, :html => { :onsubmit => "clearBlanks();return true;"}) do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>

    <%= form_submit %>
  <% end %>  
</div>