        <table style='width:100%'>
          <% project.involvements.active.reject {|i| i.party.is_a?(Building) }.in_groups_of(4).each do |igroup| %>
          
            <tr>
              <% igroup.each do |involvement|  %>
              
                <td style='width:25%'>
                  <% if involvement %>
                    <span style='text-decoration:underline;'><%= "#{involvement.party.name} (#{involvement.role})" %></span><br />
                    <% involvement.party.phone_numbers.each do |phone| %>
                      <%= "#{phone.name}: #{phone.value}" %><br />
                    <% end -%>
                  <% else %>
                    &nbsp;
                  <% end -%>
                </td>
                
              <% end -%>
            </tr>
          
          <% end -%>
        </table>