<div class="warranty_info">
  <%= f.select  :warranty_type_id, select_options_from_table(WarrantyType) %>
  <%= f.text_field :years, :size => 4  %> ans
  <%= f.text_field :description, :size => 50 %>
  <%= f.remove_link image_tag("remove.png", :border => 0) %>
</div>