<div class='page_header project_header'>
  <h1>Modifier <%= @project.display_name %></h1>
</div>

<div class='innercol'>
  <%= error_messages @project %>
  <% form_for(:project, :url => project_path(@project), :html => { :method => :put }) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= form_submit %>
  <% end %>
</div>
