<%= render :partial => '/projects/page_header' %>

<div class='innercol'>
  <h1>Historique</h1>
  <%= render :partial => '/activities/filter_form' %>

  <table class='standard'>    
    <%= render :partial => '/parties/activities_list', :locals => {:activities => @history } %>
  </table>

  <%= render :partial => '/audits/list', :locals => {:audits => @project.all_audits} %>
  
</div>