<div class='page_header project_header'>
  <h1><%= _("Nouveau Projet ") %> <%= @project.client.name if @project.client %></h1>
</div>

<div class='innercol'>
<%= error_messages @project %>

<% form_for(:project, :url => projects_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= form_submit %>
<% end %>

</div>