<% if @duplicates.size > 0 %>
  <div class="help" >
  <h2>Attention! cet immeuble existe peut-être déjà!</h2>
  <ul>
  <% for dup in @duplicates %>
    <li><b><%= dup.name %></b> <%= dup.full_address %></li>
  <% end %>
  </ul>
  </div>
  <br />
  <%= _("Vérifier qu'il n'y a pas d'erreurs dans l'adresse entrée... et cliquer sur revérifier") %>
  <br /><br />
<% else %>
  <h2><%= _("Rien à redire") %></h2>
<% end %>