<div class='page_header'>
  <h1>
    <span><%= link_to 'Modifier', edit_building_url(party), :class => 'action' %></span>
    <%= party.name %>
    <%= display_party_contract(party) %>
    <%= has_instruction(party) %>
  </h1>
  <%= tag_list party %>
</div>

<div class="page_menu">
  <%= @party = party ; tabnav :party %>
</div>