<%= party_page_header @building %>

<div class='innercol'>
  <% if @contract %>
    <div class='contract'>
      <h1><%= link_to _("modifier"), edit_contract_url(@contract), :class => 'action' %> <%= @contract.name %></h1>
      <%= render :partial => 'parties/project_list', :locals => {:title => "Service", :projects => @building.projects.service} %>
    </div>
  <% else %>
    <p>Aucune entente liée à cet immeuble</p>
  <% end -%>

</div>