.page_header
  %h1 Cours échus (3 prochains mois)

.innercol
  
  %table.standard
    - employees = @employees.keys.sort_by(&:full_name)
    - employees.each do |employee|
      - competences = @employees[employee]
      - competences.each do |competence|
        %tr{:class => cycle('odd', 'even')}
          %td= employee.full_name
          %td= competence.name
          %td
            - if competence.expired?
              %strong= competence.expires_on
            - else
              = competence.expires_on
  
