<div class='page_header'>
  <h1>
    <span><%= link_to 'Modifier', edit_company_path(party), :class => 'action' %></span> 
    <%= party.name %>
  <% if party.contract_type %> 
    <%= display_party_contract(party) %>
  <% end %>  
  </h1>
  <% if party.manager %>
    <p>Gestionnaire de compte: <%= party.manager.full_name %></p>
  <% end %>
  <%= tag_list(party) %>
</div>
<div class="page_menu">
  <%= @party = party ; tabnav :party %>
</div>
