<div class='page_header'>
  <h1><%= _("Intervenant pour") %> <%= @project.name %></h1>
</div>

<div class='innercol'>
  <%= error_messages @involvement %>

  <% form_for(:involvement, :url => project_involvement_path(@project, @involvement), :html => { :method => :put }) do |f| %>
    <p>
      <%= _("Qui") %>: <%= @involvement.party.name %>
    </p>
    <p>
      <%= _("Role") %>: <br />
      <%= f.text_field :role %>
    </p>
    
    <%= form_submit %>
  <% end %>
  
</div>
