.DS_Store
*~
*.swp
log/*

config/actionmailer.yml
config/activemerchant.yml
config/database.yml
config/mongrel.yml
config/twitter.yml
config/initializers/site_keys.rb
config/deploy.rb
config/*.sphinx.conf

public/javascripts/cache/*
public/stylesheets/cache/*

db/*.sqlite3
db/sphinx/*

tmp/*

