form {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-bottom-left-radius: 9px 9px;
	-webkit-border-bottom-right-radius: 9px 9px;
	-webkit-border-top-left-radius: 9px 9px;
	-webkit-border-top-right-radius: 9px 9px;
	background:#FFFFFF none repeat scroll 0 0;
	margin:0 15px 15px;
	padding:0 0 10px;
	text-align: left;
}
form fieldset {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-bottom-left-radius: 9px 9px;
	-webkit-border-bottom-right-radius: 9px 9px;
	-webkit-border-top-left-radius: 9px 9px;
	-webkit-border-top-right-radius: 9px 9px;
	background:#f5dff5 none repeat scroll 0 0;
	border:1px solid #ddd;
	margin:10px 0;
	padding:20px 20px 10px;
}

form input[type=text], form input[type=password] {
	font-size:1.1em;
	padding:4px;
}
form input[type=text] {
	width:300px;
}
form input[type=password] {
	width:150px;
}
form h3 {
	margin:30px 0 0 0;
}
form div {
	font-size:1.1em;
	margin:0 0 10px 0;
}


/* individual */
form input#user_api_key{
     	width:360px;
}
