.page_header
  %h1 Liste des certifications

.innercol
  %table.standard
    %tr
      %th Nom 
      %th Description
    
    - @courses.each do |course|
      %tr{:class => cycle('odd', 'even')}
        %td
          = link_to course.name, edit_course_path(course)
          %br
          = course.company ? course.company.name : ""
        %td= course.description

- content_for :sidebar do
  .new
    = link_to "Ajouter une certification", new_course_path, :class => 'new'
