.page-break
  .department
    %h1{:style=>'font-size:16px; font-weight:bold; padding: 8px 4px; border-bottom: 2px solid black;'}= title

  - foremen.each do |foreman|
    .foreman
      .header{:style=>'background:lightyellow; padding: 4px; margin-top: 10px; border-bottom: 1px solid #CCC'}
        .hoverable
          %span{:style=>'font-size:14px; font-weight:bold;'}
            = foreman
          %span.on-hover
            - if current_user.has_permission?('update_schedule') && params[:print] != "true"
              = link_to_remote "ajouter intervention", { :url => { :action => 'new_intervention', :foreman_id => foreman, :date => params[:id] }}, { :class => 'action' }
        %div{:id => dom_id(foreman, 'add_intervention_form_wrapper') }
          
      .body{:style => "min-height: 20px;", :id => dom_id(foreman, 'body')}
        - (@grouped_interventions[foreman.id] || []).each do |intervention|
          = render :partial => 'intervention', :locals => {:intervention => intervention}

        