.footer
  #Footer
    .left
      designed by 
      %img{:align=>"absmiddle", :src=>"/images/design/ffctn-logo-small.png"}
      —
      = link_to "ffunction inc.", "http://www.ffctn.com"
    .clearer &nbsp;