#ie-warn.warning{:style=>"display:none"}
  %p
    Attention! Vous utilisez Internet Explorer comme navigateur internet. Certaines fonctionalités de C3 ne fonctionnent pas dans Internet Explorer. <br/> Nous recommandons fortement d'utiliser <a href="http://getfirefox.com" onclick="window.open(this.href);return false;">Firefox</a> pour une expérience optimale de C3.

%script{:type=>"text/javascript", :charset=>"utf-8"}
  if (jQuery.browser.msie)jQuery('#ie-warn').show();

= party_alert

- if flash[:access]
  %p{:class=>'flash_notice'}
    = flash[:access]