<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>C3 [Address Book for blackberry]</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <style> 
      <!--
    * {
    margin:0pt;
    padding:1pt;
    }
    body {
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    background-color: white;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    }
  </style>

  <script type="text/javascript">


  function setFocus()
  {
    document.forms[0].party_name.focus();
    document.forms[0].party_name.select();
  }

  </script>
  

</head>

<body onload="setFocus();">
  <%= @content_for_layout %>
</body>
</html>