<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <title>:: C3 - identification ::</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 

  
  <style> 
      <!--
    * {
    margin:0pt;
    padding:0pt;
    }
    body {
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    background-color: #1A4C7C;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    }
    form {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    font-weight:bold;
    margin-left:8px;
    padding:16px 16px 40px;
    background-color: lightgrey;
    }
    form .forgetmenot {
    float:left;
    font-weight:normal;
    margin-bottom:0pt;
    }
    #login_container form .submit input {
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    border:1px solid;
    cursor:default;
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    font-size:13px;
    margin-top:-6px;
    padding:3px 5px;
    text-decoration:none;
    }
    form .submit {
    float:right;
    }
    form .group {
    margin-bottom:24px;
    }
    form .group label {
      display:block;
    }
    h1 a {
/*     background:transparent url(/images/mainlogo.png) no-repeat 10px 0px; */
    display:block;
    height:43px;
    overflow:hidden;
    padding-bottom:5px;
/*     text-indent:-9999px; */
    text-decoration: none;
    }
    #login_container {
    margin:7em auto;
    width:292px;
    }
    #nav {
    margin:0pt 0pt 0pt 8px;
    padding:16px;
    }
    form .forgetmenot {
    float:left;
    font-weight:normal;
    margin-bottom:0pt;
    }
    #user_session_password, #user_session_login, #user_session_email{
    font-size:20px;
    margin-right:6px;
    padding:3px;
    width:97%;
    border:1px solid #333333;
    }
    #user_session_password:focus, #user_session_login:focus, #user_session_email:focus {
    border:1px solid #83ACCA;
    }
    #notice {
    	color: #444;
    	font-size: 12px;
    	line-height: 1.5em;
    	width: 250px;
    	margin: 5px 0 10px 10px;
    	padding: 5px 5px 5px 25px;
    	text-align: left;
    	background: #FFEB99 url(/images/information.png) no-repeat 5px 5px;
    	border: 1px solid #FFD733;
    }
    #warning {
    	color: #444;
    	font-size: 12px;
    	line-height: 1.5em;
    	width: 250px;
    	margin: 5px 0 10px 10px;
    	padding: 5px 5px 5px 25px;
    	text-align: left;
    	background: #FFEB99 url(/images/exclamation.png) no-repeat 5px 5px;
    	border: 1px solid #FFD733;
    }
  -->
  </style>

</head>

<body class="login">

    <div id="login_container">
      <h1><a href="#">
        <% if Account.current_account.tc? %>
          <img alt="Application logo" border="0" src="/images/mainlogo.png" />
        <% else %>
          <%= ccube_logo %>
        <% end -%>
      </a></h1>

      <% for name in FLASH_NAMES %>
        <% if flash[name] %>
          <%= "<div id=\"#{name}\">#{flash[name]}</div>" %>
        <% end %>
      <% end %>
      <%= error_messages @object if @object %>
      <%= @content_for_layout %>
    </div>
</body>
</html>
